@media (max-width: 600px) {
  .prod-card {
    margin: 0 1rem;
    flex-direction: column;
    height: 40em;

    &__pic {
      background-size: cover;
      background-image: url('../images/image-product-mobile.jpg');
    }

    &__inf {
      &-wrapper {
        padding: 1.3rem 1.5rem;
      }

      &__categ {
        margin: 0.5rem 0 0 0;
      }

      &__title {
        padding-right: 0;
      }

      &__add-to-cart {
        height: 3rem;
      }
    }
  }
}
